*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-size: cover;
    height: 86vh;
    background-image: url(/img/fire-44.gif);
}
#text{
    color: #fff;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #32CD32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 38%;
    margin-top: 15px;
}
#text{
    text-align: center;
    margin-top: 20px;
}
button:hover {
    background-color: #1a811a;
}
